* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url(https://images.unsplash.com/photo-1533575770077-052fa2c609fc?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.cover-container {
    max-width: 70vw;
}

.active {
    color: rgb(222, 9, 9);
}

.nav-link {
    padding-bottom: 4px;
    color: rgba(255,255,255,0.6);
    border-bottom: 2px solid transparent;
}

.nav-link:hover {
    border-bottom-color: rgba(255,255,255, 0.9);
}   

.nav-link:active, .nav-link:visited {
    color: white;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    color: #333
}

.lead {
    font-size: 20px;
}