<% layout("layouts/boilerplate") %>

<h1>Sign In</h1>

<form action="/login" method="post" novalidate class="validated-form">
    <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" required>
        <div class="invalid-feedback">
            Include username.
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" required>
        <div class="invalid-feedback">
            Include a valid password.
        </div>
    </div>
    
    <div class="mb-3">
        <button type="submit" class="btn btn-warning">Sign In</button>
    </div>
</form>